@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: 	#FF8C00;


}

.header .logo {
  font-size: 25px;
  font-family: 'Sriracha', cursive;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}
a{
    text-decoration-style: none;
    list-style-type: none;
    color:white
}
.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}
/* CSS for main section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("./images/internet-marketing-and-online-shopping-vector-1851130.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}
/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#FF8C00;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}
.btnOrder{
    float: right;
    margin-left: 80%;
}

.imgOne{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.row-product{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
    padding: 0 40px;
    margin-top: 15px;
    border-bottom: 1px solid blue(0, 0, 0, 0.337);
}

.fa-trash{
    color:red;
}

.red{
    color: red;
}
nav ul li {
    display: inline-block;
    margin-right: 30px;
  }
  #section3logos img {
    width: 7.5rem;
    object-fit: contain;
}
.section7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section7 h1 {
    font-size: 2.1428571429em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -0.3px;
    text-align: center;
}
.section7 button {
    margin-left: 120px;
    background-color: blue;
    color: white;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
}
.section7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layout_padding {
    padding: 75px 0px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.contact_section .heading_container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.heading_container h2 {
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.heading_container h2::before {
    left: -5px;
    -webkit-transform: translate(-100%,-50%);
    transform: translate(-100%,-50%);
}
.heading_container h2::after {
    right: -5px;
    -webkit-transform: translate(100%,-50%);
    transform: translate(100%,-50%);
}
.heading_container h2 {
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.layout_padding {
    text-align: center;
    align-items: center;
}
.contact_section .heading_container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
/* .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} */
.mx-auto {
    margin-left: auto!important;
}
/* .contact_section .contact-form {
    padding: 25px;
    border-radius: 20px;
    
} */
/* *, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
} */
.contact_section .contact-form input {
    border: none;
    outline: 0;
    background-color: transparent;
    width: 100%;
    margin: 15px 0;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 30px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.contact_section .contact-form input {
    border: none;
    outline: 0;
    background-color: transparent;
    width: 100%;
    margin: 15px 0;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 30px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.contact_section .contact-form input {
    border: none;
    outline: 0;
    background-color: transparent;
    width: 100%;
    margin: 15px 0;
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 30px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.contact_section .contact-form input.input_message {
    height: 200px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.contact_section .contact-form button {
    border: none;
    outline: 0;
    padding: 12px 50px;
    text-transform: uppercase;
    margin-top: 25px;
    background-color:blue;
    color:white;
    border-radius: 30px;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.contact_section .contact-form {
    padding: 90px;
    border-radius: 20px;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}


h1 {
    color: #333;
}
p {
    color: #666;
}
.image{
    margin-left: 700px;
    margin-top: -150px;
}
.joumla{
    font-size: 2.1428571429em;
}

.section3logos {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    color: #333;
}
p {
    color: #666;
}
.images-container {
    text-align: center;
}
.image {
    display: inline-block;
    margin: 10px;
}
.contact{
    background-image: url("./images/3.jpg");
    background-size: cover;
    
}
.bg-dark {
    background-color: #302f49!important;
}
.bg-dark {
    background-color: #302f49!important;
}
.row{
    text-align: center;
}
.rand{
    display: flex;
    text-align: center;
}
